* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  li {
    list-style: none;
  }
}

body {
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
  font-size: 14px;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 85px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

.container {
  max-width: 980px;
  margin: 0px auto;
  padding: 0 10px;
}

.sneakers {
  padding: 40px 0;
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 40px 0px;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 40px;
  }
}

.top-sneakers {
  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
  }
  &__form {
    display: flex;
    align-items: center;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    max-height: 45px;
    input {
      width: 200px;
      height: 45px;
      border: none;
      border-radius: 10px;
      outline: none;
      color: #c4c4c4;
      background: transparent;
      &::placeholder {
        color: #c4c4c4;
      }
    }
    button {
      background: transparent;
      border: none;
      font-size: 18px;
      color: #e4e4e4;
      cursor: pointer;
      width: 48px;
    }
  }
}
